@import "variables";

* {
	font-family: 'MuseoModerno', sans-serif;	
}

*a {
	text-decoration: none;
	color: white;
	&:hover {
		color: white;
	}	
}

.container {
	max-width: 950px;
	margin: 0 auto;
	
}

@import "promo";
@import "header";
@import "button";
@import "advantages";
@import "title";
@import "consultation";
@import "forms";
@import "carousel";
@import "catalog";
@import "reviews";
@import "media";

