@import "variables";

* {
	font-family: 'MuseoModerno', sans-serif;	
}

*a {
	text-decoration: none;
	color: white;
	&:hover {
		color: white;
	}	
}

*button {
	&:hover {
		background-color: rgb(250, 36, 36);
		box-shadow: 0px 0px 10px 5px rgb(201, 195, 195);
		transition: 0.3s all;
	}
}

.container {
	max-width: 950px;
	margin: 0 auto;
	
}

@import "promo";
@import "header";
@import "button";
@import "advantages";
@import "title";
@import "consultation";
@import "forms";
@import "carousel";
@import "catalog";
@import "reviews";
@import "footer";
@import "modal";
@import "pageup";
@import "media";

